<%- include('includes/head.ejs') %>

<title><%= pageTitle %></title>

<%- include('includes/nav.ejs') %>

</body>

<main>

    <h1> Dashboard</h1>

    <section class="artists-container">
        <% for(var i = 0; i < artists.length; i++) { %>
        <article class="artist-article">
            <iframe width="270" height="185" src="<%= artists[i].url1 %>">
            </iframe>
            <div class="artist-article_content">
                <small>ARTIST NAME</small>
                <h4><%= artists[i].artistName %></h4>
                <p>Genre <span class="genre"><%= artists[i].subgenre %></span></p>
                <a href="<%= artists[i].url2 %>" target="_blank"><%= artists[i].song2 %></a>
                <a href="<%= artists[i].url3 %>" target="_blank"><%= artists[i].song3 %></a>
                <div class="artist-article_action">
                    <form action="/api/dashboard/edit-artist" method="POST">
                        <input type="hidden" value="<%= artists[i].id %>" name="artistId">
                        <button type="submit" class="btn">Edit</button>
                    </form>
                    <form action="" method="POST">
                        <button type="text" class="btn">Delete</button>
                    </form>
                </div>
            </div>
        </article>
        <% } %>
    </section>

</main>

</html>